<div class="home-content home-content-responsive">
    <img src="assets/duckfake-1.png"/>
    <h1 id="page-heading">BuckBuckGo</h1>
    <div class="search-wrapper">
        <input class="search-box search-box-responsive">
        <div class="search-icon-container search-icon-container-responsive">
            <i class="fa fa-2x fa-search search-icon" aria-hidden="true"></i>
        </div>
    </div>
</div>
<hr class="horizontal-line horizontal-line-responsive"/>
<div class="promotion-container">
    <h1 id="promotion-heading">Try Search Pro</h1>
</div>
