<div class="home-content home-content-responsive">
    <img src="assets/duckfake-1.png"/>
    <h1 id="page-heading">BuckBuckGo</h1>
    <div class="search-wrapper">
        <%= form_tag("/result", id: "search_form", method: "post") do %>
            <%= text_field_tag :search_text, "", class: 'search-box search-box-responsive', :autocomplete => :off %>
            <div class="search-icon-container search-icon-container-responsive">
                <i class="fa fa-2x fa-search search-icon" aria-hidden="true" onclick="document.getElementById('search_form').submit();"></i>
            </div>
        <% end %>
        <div class="search-box-responsive ajax-results ajax-results-home">
            <ul id="ajax-results">
            </ul>
        </div>
    </div>
</div>
<hr class="horizontal-line horizontal-line-responsive"/>
<div class="promotion-container">
    <h1 id="promotion-heading">Try Search Pro</h1>
</div>
