<div class="home-content">
    <h1 id="page-heading">BuckBuckGo</h1>
    <div class="search-wrapper">
        <input class="search-box">
        <div class="search-icon-container">
            <i class="fa fa-2x fa-search search-icon" aria-hidden="true"></i>
        </div>
    </div>
</div>
<hr class="horizontal-line"/>
