/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require font-awesome
*/


html, body {
    font-family: "Proxima";
    background-color: #f7f7f7;
    height: 100%;
}

body,input,select,textarea {
    color: #333;
}

.header-bar {
    border-top: 2px solid #de5833;
    padding-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
}

.ajax-results {
    background-color: #fff;
    text-align: left;
    display: block;
    width: 93%;
    position: relative;
}

.ajax-results-home {
    margin-top: 7.3%;
}

.ajax-results-result {
    margin-top: 6.1%;
}

.ajax-results-border {
    border: 1px solid #d0d0d0;
}

.ajax-results ul{
    padding: 0;
    text-indent: 1em;
    font-size: 1.15em;
}

.ajax-results li {
    list-style-type: none;
    padding: 0;
}

.ajax-results li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.ajax-results li:hover {
    background-color: #d0d0d0;
    cursor: pointer;
    text-decoration: underline;
    color: #de5833;
    font-weight: bold;
}
