.home-content {
    text-align: center;
}

.search-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 3em;
    border: 1px solid #d0d0d0;
}

.search-box {
    font-size: 1em;
    float: left;
    text-align: left;
    text-indent: 1em;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    position: relative;
    height: 3em;
    background-color: #fff;
    border: none;
}

.search-box:focus {
    outline: none;
}

.search-icon-container {
    float: right;
    height: 3em;
    display: inline-block;
    overflow: hidden;
    background-color: #fff;
}

.search-icon {
    width: 100%;
    height: 2em;
    padding: 0.1em;
    /*float: left;*/
    margin: auto 0;
    color: #d3d3d3;
    vertical-align: middle;
    display: inline-block;
    -webkit-transition: all 750ms ease;
    -moz-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    -o-transition: all 750ms ease;
    transition: all 750ms ease;
}

.search-icon:hover {
    background-color: #66ad57;
    color: #fff;
    cursor: pointer;
}

#page-heading {
    letter-spacing: 0.0.5em;
    color: #b6b6b6;
    font-family: 'Proxima-LightWeight';
}

.horizontal-line {
    margin-bottom: 0;
    border-color: #ededed;
    width: 80%;
    display: block;
}

#promotion-heading {
    letter-spacing: 0.0.1em;
    color: #b6b6b6;
    font-family: 'Proxima-LightWeight';
}

.promotion-container {
    margin: 0 auto;
    text-align: center;
    display: block;
}

/* For very small screens */
@media screen and (min-width: 320px) {

    .home-content-responsive {
        height: 30%;
        width: 70%;
        margin: 3% auto;
    }

    .horizontal-line-responsive {
        margin: 0 auto;
        margin-top: 40%;
    }

    .search-box-responsive {
        width: 76%;
    }

    .search-icon-container-responsive {
        width: 24%;
    }
}

@media screen and (min-width: 360px) {

    .horizontal-line-responsive {
        margin: 0 auto;
        margin-top: 22%;
    }

}

@media screen and (min-width: 480px) {

    .home-content-responsive {
        height: 38%;
        width: 70%;
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .horizontal-line-responsive {
        margin: 0 auto;
        margin-top: 9%;
    }
}

/* For mid-sized screens */
@media screen and (min-width: 768px) {

    .home-content-responsive {
        height: 27%;
        width: 70%;
        margin: 3% auto;
    }

    .horizontal-line-responsive {
        margin: 0 auto;
        margin-top: 0%;
    }

    .search-box-responsive {
        width: 85%;
    }

    .search-icon-container-responsive {
        width: 15%;
    }
}

@media screen and (min-width: 800px) {

    .home-content-responsive {
        height: 21%;
        width: 70%;
        margin: 3% auto;
    }
}

@media screen and (min-width: 1024px) {

    .home-content-responsive {
        height: 30%;
        width: 50%;
        margin: 2% auto;
    }

    .horizontal-line-responsive {
        margin: 0 auto;
        margin-top: 11%;
    }

    .search-box-responsive {
        width: 92.6%;
    }

    .search-icon-container-responsive {
        width: 7%;
    }
}

@media screen and (min-width: 1280px) {

    .horizontal-line-responsive {
        margin: 0 auto;
        margin-top: 8%;
    }
}

@media screen and (min-width: 1920px) {

    .home-content-responsive {
        height: 18%;
        width: 50%;
        margin: 2% auto;
    }

    .horizontal-line-responsive {
        margin: 0 auto;
        margin-top: 7%;
    }
}
