.result-page-search {
    margin-top: 1%;
}

.img_container {
    width: 5%;
    display: inline-block;
}

.search-wrapper-result {
    height: 3em;
    border: 1px solid #d0d0d0;
    display: inline-block;
    width: 61%;
}

.horizontal-line-result {
    background-color: #b0b0b0;
    margin-top: 1%;
}

.result {
    margin-left: 5.5%;
}

.search-url {
    font-weight: bold;
    font-size: 12pt;
    text-decoration: none;
    color: inherit;
}

.search-url:hover {
    text-decoration: underline;
    color: #3a7fb4;
}

.result-body {
    cursor: pointer;
    margin: 1% 0;
    width: 65%;
}

.result-body:hover {
    background-color: #f0f0f0;
}

.page-load-svg {
    width: 6%;
    margin-left: 5.5%;
}

.page-separator {
    width: 70%;
    height: 2%;
    /*text-align: center;*/
    margin-left: 5.5%;
    font-size: 14pt;
    color: #b0b0b0;
    display: none;
}

.page-separator-text {
    width: 7%;
    display: inline-block;;
}

.page-separator-line {
    background-color: rgb(247, 247, 247);
    width: 90%;
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 0.5%;
}
